node_modules/
.next/
/.env
.env.local
.env.*.local
dist/
build/
coverage/
package-lock.json
yarn.lock
pnpm-lock.yaml
tsconfig.tsbuildinfo
/out/
.DS_Store
.vscode/
.idea/
npm-debug.log
/.cache/
/.parcel-cache/
/.pnp.*node_modules
